# IPL Score Predictor

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ipl_df = pd.read_csv("ball_by_ball_ipl.csv")
print(f"Dataset successfully Imported of Shape : {ipl_df.shape}")

Dataset successfully Imported of Shape : (239693, 35)

In [3]:
ipl_df.head()

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,1,RD Gaikwad,...,Chennai Super Kings,0,4,0,1,0,NaN,NaN,4,1
1,1,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,2,RD Gaikwad,...,Chennai Super Kings,0,4,0,2,0,NaN,NaN,0,1
2,2,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,3,RD Gaikwad,...,Chennai Super Kings,0,4,0,3,0,NaN,NaN,0,1
3,3,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,4,RD Gaikwad,...,Chennai Super Kings,0,4,0,4,0,NaN,NaN,0,1
4,4,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,1,5,RD Gaikwad,...,Chennai Super Kings,0,5,0,5,0,NaN,NaN,1,1

In [4]:
ipl_df.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [5]:
# batting_team /
# bowling team /
# city
# current score
# ball left /
# wickets left
# current rr
# last five

In [6]:
df = ipl_df[['Bat First','Bat Second','Balls Remaining','Innings Runs','Venue']]

In [7]:
df.head()

,Bat First,Bat Second,Balls Remaining,Innings Runs,Venue
0,Chennai Super Kings,Kolkata Knight Riders,119,4,Eden Gardens
1,Chennai Super Kings,Kolkata Knight Riders,118,4,Eden Gardens
2,Chennai Super Kings,Kolkata Knight Riders,117,4,Eden Gardens
3,Chennai Super Kings,Kolkata Knight Riders,116,4,Eden Gardens
4,Chennai Super Kings,Kolkata Knight Riders,115,5,Eden Gardens

In [8]:
df['balls bowled'] = 120 - ipl_df['Balls Remaining']

C:\Users\jaide\AppData\Local\Temp\ipykernel_784\1492319264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls bowled'] = 120 - ipl_df['Balls Remaining']

In [9]:
# cities = np.where(ipl_df['city'].isnull(),ipl_df['venue'].str.split().apply(lambda x:x[0]),ipl_df['city'])

In [10]:
df['wicket_left'] = 10 - ipl_df['Innings Wickets']

C:\Users\jaide\AppData\Local\Temp\ipykernel_784\2572894961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wicket_left'] = 10 - ipl_df['Innings Wickets']

In [11]:
df.head()

,Bat First,Bat Second,Balls Remaining,Innings Runs,Venue,balls bowled,wicket_left
0,Chennai Super Kings,Kolkata Knight Riders,119,4,Eden Gardens,1,10
1,Chennai Super Kings,Kolkata Knight Riders,118,4,Eden Gardens,2,10
2,Chennai Super Kings,Kolkata Knight Riders,117,4,Eden Gardens,3,10
3,Chennai Super Kings,Kolkata Knight Riders,116,4,Eden Gardens,4,10
4,Chennai Super Kings,Kolkata Knight Riders,115,5,Eden Gardens,5,10

In [12]:
#renaming the columns
df = df.rename(columns={'Bat First': 'batting_team', 'Bat Second': 'bowling_team', 'Balls Remaining': 'balls_left', 
                        'Innings Runs': 'current_score'})

In [13]:
df.head()

,batting_team,bowling_team,balls_left,current_score,Venue,balls bowled,wicket_left
0,Chennai Super Kings,Kolkata Knight Riders,119,4,Eden Gardens,1,10
1,Chennai Super Kings,Kolkata Knight Riders,118,4,Eden Gardens,2,10
2,Chennai Super Kings,Kolkata Knight Riders,117,4,Eden Gardens,3,10
3,Chennai Super Kings,Kolkata Knight Riders,116,4,Eden Gardens,4,10
4,Chennai Super Kings,Kolkata Knight Riders,115,5,Eden Gardens,5,10

In [14]:
groups = ipl_df.groupby('Match ID')

match_ids = ipl_df['Match ID'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['Runs From Ball'].values.tolist())

C:\Users\jaide\AppData\Local\Temp\ipykernel_784\1499262896.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Bat First', 'Bat Second', 'Batter', 'Bowler', 'Date', 'Extra Type',
       'Method', 'Non Striker', 'Player Out', 'Venue', 'Winner'],
      dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['Runs From Ball'].values.tolist())

In [15]:
df['last_five'] = last_five

In [16]:
df['runs_x'] = ipl_df['Target Score'] - 1

In [17]:
df.head()

,batting_team,bowling_team,balls_left,current_score,Venue,balls bowled,wicket_left,last_five,runs_x
0,Chennai Super Kings,Kolkata Knight Riders,119,4,Eden Gardens,1,10,NaN,235
1,Chennai Super Kings,Kolkata Knight Riders,118,4,Eden Gardens,2,10,NaN,235
2,Chennai Super Kings,Kolkata Knight Riders,117,4,Eden Gardens,3,10,NaN,235
3,Chennai Super Kings,Kolkata Knight Riders,116,4,Eden Gardens,4,10,NaN,235
4,Chennai Super Kings,Kolkata Knight Riders,115,5,Eden Gardens,5,10,NaN,235

In [18]:
# Calculate the number of complete overs and additional balls
df['complete_overs'] = df['balls bowled'] // 6
df['remaining_balls'] = df['balls bowled'] % 6

# Calculate the total overs as a decimal
df['total_overs'] = df['complete_overs'] + df['remaining_balls'] / 6.0

# Calculate the current run rate
df['crr'] = ipl_df['Innings Runs'] / df['total_overs']

In [19]:
df = df.drop(columns = ['complete_overs','remaining_balls','total_overs'], axis=1)

In [20]:
df['crr'].max()

inf

In [21]:
# Removing crr vaue error
count_high_run_rate = (df['crr'] > 36).sum()
print(count_high_run_rate)

140

In [22]:
df = df[df['crr'] <= 36]

In [23]:
df.dropna(inplace=True)

In [24]:
df = df.drop(['balls bowled'],axis = 1)

In [25]:
df.isnull().sum()

batting_team     0
bowling_team     0
balls_left       0
current_score    0
Venue            0
wicket_left      0
last_five        0
runs_x           0
crr              0
dtype: int64

In [26]:
df['Venue'] = df['Venue'].replace(['M Chinnaswamy Stadium', 'M.Chinnaswamy Stadium'], 'M Chinnaswamy Stadium')

In [27]:
df['Venue'] = df['Venue'].replace(['Punjab Cricket Association Stadium', 'Punjab Cricket Association IS Bindra Stadium'], 'Punjab Cricket Association Stadium')

In [28]:
df['Venue'] = df['Venue'].replace(['Feroz Shah Kotla', 'Arun Jaitley Stadium'], 'Feroz Shah Kotla')

In [29]:
df['Venue'] = df['Venue'].replace(['Narendra Modi Stadium', 'Sardar Patel Stadium'], 'Narendra Modi Stadium')

In [30]:
df['Venue'] = df['Venue'].replace(['Subrata Roy Sahara Stadium', 'Maharashtra Cricket Association Stadium '], 'Maharashtra Cricket Association Stadium')

In [31]:
'''const_venue = ['Wankhede Stadium', 'Eden Gardens', 'MA Chidambaram Stadium',
               'Rajiv Gandhi International Stadium','M Chinnaswamy Stadium'
              , 'Feroz Shah Kotla', 'Sawai Mansingh Stadium','Punjab Cricket Association Stadium'
              , 'Dubai International Cricket Stadium', 'Maharashtra Cricket Association Stadium'
              , 'Dr DY Patil Sports Academy', 'Sharjah Cricket Stadium', 'Narendra Modi Stadium'
              , 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium'
               , 'Himachal Pradesh Cricket Association Stadium', 'Sheikh Zayed Stadium']'''

"const_venue = ['Wankhede Stadium', 'Eden Gardens', 'MA Chidambaram Stadium',\n               'Rajiv Gandhi International Stadium','M Chinnaswamy Stadium'\n              , 'Feroz Shah Kotla', 'Sawai Mansingh Stadium','Punjab Cricket Association Stadium'\n              , 'Dubai International Cricket Stadium', 'Maharashtra Cricket Association Stadium'\n              , 'Dr DY Patil Sports Academy', 'Sharjah Cricket Stadium', 'Narendra Modi Stadium'\n              , 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium'\n               , 'Himachal Pradesh Cricket Association Stadium', 'Sheikh Zayed Stadium']"

In [32]:
df['Venue'].value_counts()

Wankhede Stadium                                                23361
Eden Gardens                                                    17675
Feroz Shah Kotla                                                17286
M Chinnaswamy Stadium                                           17147
MA Chidambaram Stadium                                          15892
Rajiv Gandhi International Stadium                              14628
Punjab Cricket Association Stadium                              12703
Sawai Mansingh Stadium                                          10765
Maharashtra Cricket Association Stadium                         10755
Dubai International Cricket Stadium                              9195
Dr DY Patil Sports Academy                                       7825
Sharjah Cricket Stadium                                          5858
Brabourne Stadium                                                5743
Narendra Modi Stadium                                            5678
Sheikh Zayed Stadium                                             5627
Kingsmead                                                        3205
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium              2660
SuperSport Park                                                  2516
Himachal Pradesh Cricket Association Stadium                     2341
Saurashtra Cricket Association Stadium                           1855
New Wanderers Stadium                                            1707
Holkar Cricket Stadium                                           1703
Zayed Cricket Stadium                                            1642
Barabati Stadium                                                 1491
St George's Park                                                 1474
JSCA International Stadium Complex                               1468
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium     1291
Shaheed Veer Narayan Singh International Stadium                 1255
Newlands                                                         1098
Nehru Stadium                                                    1010
Green Park                                                        805
Vidarbha Cricket Association Stadium                              655
De Beers Diamond Oval                                             638
Buffalo Park                                                      628
Barsapara Cricket Stadium                                         446
OUTsurance Oval                                                   442
Name: Venue, dtype: int64

In [33]:
#df = df[df['Venue'].isin(const_venue)]

In [34]:
# Keeping only Consistent Teams
const_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
              'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
              'Delhi Daredevils', 'Sunrisers Hyderabad','Gujarat Titans','Lucknow Super Giants']

In [35]:
df = df[(df['batting_team'].isin(const_teams)) & (df['bowling_team'].isin(const_teams))]
df.shape

(148688, 9)

In [36]:
eligible_Venue = df['Venue'].value_counts()[df['Venue'].value_counts() > 1200].index.tolist()

In [37]:
df = df[df['Venue'].isin(eligible_Venue)]

In [38]:
print(df.shape)
df.head()

(142184, 9)

,batting_team,bowling_team,balls_left,current_score,Venue,wicket_left,last_five,runs_x,crr
29,Chennai Super Kings,Kolkata Knight Riders,90,45,Eden Gardens,10,45.0,235,9.000000
30,Chennai Super Kings,Kolkata Knight Riders,89,46,Eden Gardens,10,42.0,235,8.903226
31,Chennai Super Kings,Kolkata Knight Riders,88,50,Eden Gardens,10,46.0,235,9.375000
32,Chennai Super Kings,Kolkata Knight Riders,87,51,Eden Gardens,10,47.0,235,9.272727
33,Chennai Super Kings,Kolkata Knight Riders,86,57,Eden Gardens,10,53.0,235,10.058824

In [39]:
df = df.sample(df.shape[0])

In [40]:
df.sample(2)

,batting_team,bowling_team,balls_left,current_score,Venue,wicket_left,last_five,runs_x,crr
211643,Mumbai Indians,Royal Challengers Bangalore,34,124,MA Chidambaram Stadium,7,40.0,159,8.651163
131385,Mumbai Indians,Chennai Super Kings,72,63,Brabourne Stadium,10,46.0,173,7.875000

## Model Training

In [41]:
X = df.drop(columns=['runs_x'])
y = df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [42]:
X_train.shape

(113747, 8)

In [43]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [44]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','Venue'])
]
,remainder='passthrough')

In [45]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [46]:
# Replace inf/-inf with NaN
X_train.replace([np.inf, -np.inf], np.nan, inplace=True)

# Then you can choose to fill NaNs with a value or drop them
X_train.fillna(0, inplace=True)  # Option 1: Fill with 0 (or another value)
X_train.dropna(inplace=True)     # Option 2: Drop rows with NaNs

In [47]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\jaide\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9310650493379875
4.367695341282271

### Predictions of 5 random test samples

In [55]:
import numpy as np
from sklearn.metrics import r2_score, mean_absolute_error

# Train the model
pipe.fit(X_train, y_train)

# Predict on the test set
y_pred = pipe.predict(X_test)

# Select a random sample of 5 test instances
random_indices = np.random.choice(X_test.index, size=5, replace=False)
random_samples = X_test.loc[random_indices]
random_actuals = y_test.loc[random_indices]
random_predictions = pipe.predict(random_samples)

# Print the results
for i in range(len(random_samples)):
    print(f"Sample index: {random_indices[i]}")
    print("Test Data:")
    print(random_samples.iloc[i])
    print(f"Actual value: {random_actuals.iloc[i]}")
    print(f"Predicted value: {random_predictions[i]}\n")

C:\Users\jaide\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Sample index: 217063
Test Data:
batting_team                    Sunrisers Hyderabad
bowling_team                        Kings XI Punjab
balls_left                                       69
current_score                                    73
Venue            Punjab Cricket Association Stadium
wicket_left                                       7
last_five                                      37.0
crr                                        8.588235
Name: 217063, dtype: object
Actual value: 207
Predicted value: 205.2976531982422

Sample index: 227560
Test Data:
batting_team     Royal Challengers Bangalore
bowling_team                 Kings XI Punjab
balls_left                                43
current_score                             81
Venue                  M Chinnaswamy Stadium
wicket_left                                1
last_five                               33.0
crr                                 6.311688
Name: 227560, dtype: object
Actual value: 226
Predicted value: 221.48416137695312

Sample index: 159467
Test Data:
batting_team            Chennai Super Kings
bowling_team                 Mumbai Indians
balls_left                               24
current_score                           109
Venue            Dr DY Patil Sports Academy
wicket_left                               5
last_five                              41.0
crr                                  6.8125
Name: 159467, dtype: object
Actual value: 168
Predicted value: 168.82632446289062

Sample index: 165880
Test Data:
batting_team     Kolkata Knight Riders
bowling_team            Mumbai Indians
balls_left                          27
current_score                      134
Venue                 Wankhede Stadium
wicket_left                          6
last_five                         44.0
crr                           8.645161
Name: 165880, dtype: object
Actual value: 174
Predicted value: 172.64942932128906

Sample index: 93396
Test Data:
batting_team                    Sunrisers Hyderabad
bowling_team                       Delhi Daredevils
balls_left                                        2
current_score                                   175
Venue            Rajiv Gandhi International Stadium
wicket_left                                       6
last_five                                      49.0
crr                                        8.898305
Name: 93396, dtype: object
Actual value: 191
Predicted value: 191.7747802734375

### Predictions by making a Function

In [49]:
def score_predict(batting_team, bowling_team, balls_left, current_score, Venue, wicket_left, crr, last_five, model):
    # Create a DataFrame with the given inputs
    real_time_data = {
        'batting_team': [batting_team],
        'bowling_team': [bowling_team],
        'balls_left': [balls_left],
        'current_score': [current_score],
        'Venue': [Venue],
        'wicket_left': [wicket_left],
        'last_five': [last_five],
        'crr': [crr]
    }
    df_real_time = pd.DataFrame(real_time_data)
    
    # Predict using the pipeline on real-time data
    pred = model.predict(df_real_time)
    return int(round(pred[0]))

In [50]:
# Test 1 (2020 IPL Match)
batting_team="Mumbai Indians"
bowling_team="Rajasthan Royals"
score = score_predict(batting_team, bowling_team, balls_left = 30, current_score = 125,
                      Venue = 'Sheikh Zayed Stadium', wicket_left = 6,
                      crr = 8.33, last_five = 35, model=pipe)
print(f'Predicted Score : {score} || Actual Score : 193')

Predicted Score : 193 || Actual Score : 193

In [51]:
# Test 2 (2018 IPL Match)
batting_team="Royal Challengers Bangalore"
bowling_team="Sunrisers Hyderabad"
score = score_predict(batting_team, bowling_team, balls_left = 24, current_score = 163,
                      Venue = 'M Chinnaswamy Stadium', wicket_left = 6,
                      crr = 10.18, last_five = 69, model=pipe)
print(f'Predicted Score : {score} || Actual Score : 214')

Predicted Score : 218 || Actual Score : 214

In [52]:
# Test 3 (2024 IPL Match)
batting_team="Gujarat Titans"
bowling_team="Chennai Super Kings"
score = score_predict(batting_team, bowling_team, balls_left = 24, current_score = 196, 
                      Venue = 'MA Chidambaram Stadium', wicket_left = 10, 
                      crr = 12.25, last_five= 66, model=pipe)
print(f'Predicted Score : {score} || Actual Score : 231')

Predicted Score : 216 || Actual Score : 231

In [53]:
# Test 3 (2024 IPL Match)
batting_team="Sunrisers Hyderabad"
bowling_team="Rajasthan Royals"
score = score_predict(batting_team, bowling_team, balls_left = 24, current_score = 136, 
                      Venue = 'MA Chidambaram Stadium', wicket_left = 4, 
                      crr = 8, last_five= 34, model=pipe)
print(f'Predicted Score : {score} || Actual Score : 169')

Predicted Score : 196 || Actual Score : 169

In [54]:
batting_team="Kolkata Knight Riders"
bowling_team="Chennai Super Kings"
score = score_predict(batting_team, bowling_team, balls_left = 42, current_score = 93, 
                      Venue = 'Dubai International Cricket Stadium', wicket_left = 7, 
                      crr = 7.15, last_five= 33, model=pipe)
print(f'Predicted Score : {score} || Actual Score : 172')

Predicted Score : 172 || Actual Score : 172